.start_page {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    /* background-image: url('../../media/fon4.jpg'); */
}

p {
    text-align: center;
    font-size: 15px;
    font-weight: 700; 
    font-style: italic;
    color: rgb(157, 23, 99);
}

a {
    text-decoration: none;
 }

/* .start_button {
    margin: 50px;
    padding: 15px;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(213, 26, 163);
    border: 2px solid rgb(48, 48, 207);
    color: rgb(23, 23, 59);
    font-size: 15px;
    font-weight: 500; 
  
    cursor: pointer;
} */

/* .start_button:hover {
    background-color: rgb(48, 48, 207);
    border: 2px solid rgb(213, 26, 163);  
} */

/* @media (max-width: 320px) {

    .start_page {
        max-width: 320px;
        min-width: 320px;
        padding: 20px;
    }

} */
