.start_page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.welcome_start {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    
    /* text-shadow: 2px 2px 1px  rgb(75, 75, 212); */
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    float: right;
    color: rgb(14, 2, 39);
    
    position: absolute;
}

a {
    text-decoration: none;
 }

.start_button {
    margin: 50px;
    padding: 15px;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(213, 26, 163);
    border: 2px solid rgb(48, 48, 207);
    color: rgb(23, 23, 59);
    font-size: 15px;
    font-weight: 500; 

    position: relative;
    top: 200px;
    
    cursor: pointer;
}

.start_button:hover {
    background-color: rgb(48, 48, 207);
    border: 2px solid rgb(213, 26, 163);  
}

/* @media (max-width: 320px) {

    .start_page {
        max-width: 320px;
        min-width: 320px;
        padding: 20px;
    }

} */
