.therapy_block {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 2px solid blue;
}

.therapy_block div {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.feedback_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedback_block :nth-child(2) {
    border: 1px solid transparent;
    padding: 12px 15px;
    border-radius: 50px;
    background: linear-gradient(to right,rgb(214, 44, 149), blue);
    color: white;
    font-size: 14px;
    font-weight: 500;
}

