.question_block {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.btns_answers {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.btns_answers button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid grey;
    cursor: pointer;
}

.btns_answers :nth-child(1) {
    background-color: green;
}
.btns_answers :nth-child(2) {
    background-color: lightgreen;
}

.btns_answers :nth-child(3) {
    background-color: yellow;
}

.btns_answers :nth-child(4) {
    background-color: orange;
}

.btns_answers :nth-child(5) {
    background-color: red;
}

.btns_answers :nth-child(6) {
    background-color: brown;
}

.btns_back_help {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.btn_back {
    padding: 12px 15px;
    border-radius: 30px;
    background-color: iris;
    border: 1px solid transparent;
    color: rgb(23, 23, 59);
    font-size: 18px;
    font-weight: 500; 

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}


 
