@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    color:#101011;
    /* background-image: url('../../media'); */  
    
}

h2 {
    font-size: 28px;
    font-weight: 800;
    color:#0077F5;
    text-align: center;
    text-shadow: 1px 1px 1px pink;
}

@media (max-width: 320px) {

    .content_wrapper {
        max-width: 320px;
        min-width: 320px;
        padding: 20px;
    }

}    